jupyter-book
fretraj
mdtraj = "^1.9.5"
numpy = "<1.20.0"
pandas = "^1.2.2"
numba = "<=0.50.1"
nglview = "^2.7.7"
astunparse = "1.6.2"
importlib-metadata = "^3.7.2"
jupytext = "^1.10.3"
matplotlib = "^3.3.4"
